body{
    background-color: rgba(0, 0, 0, 0.856);
    color: green;
    margin: 0px;
    padding: 0px;
}
#main-doc{
    background-color: rgba(0, 0, 0, 0.856);
    position: absolute;
    margin-left: 15rem;
    padding: 20px;
    margin-bottom: 110px;
    text-align: justify;

}

.main-section > header{
    font-size: 3rem;
    text-align: left;
    margin-left: 1rem;
}

#navbar{
    background-color: rgba(36, 23, 150, 0.219);
    width: 15rem;
    position: fixed; 
   
}

#navbar >.nav-header{
    font-size: 2rem;
    text-align: center;
}

#navbar >.nav-div{
    width: auto;
    height: 590px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  
}


.nav-div > .nav-link{
    color:green;
    font-size: 1.3rem;
    text-align: left;
    padding: 1rem;
    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
    border: 0.5rem 0 0.5rem 0;
    border-color: rgba(18, 81, 92, 0.884);
    border-style: solid;
    justify-content: space-around;
    
}